<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= titre %></title>
  <style>
    html {
     height: 100%; 
    }
    body {
      height: 100%;
      font-family: sans-serif;
      background: #f9f9f9;
      margin: 0;
      padding: 0;
    }
    header {
      display: flex;
      background-color: #007bff;
      color: white;
      padding: 1rem;
      text-align: center;
    }
    main {
      
      height: 75%;
      padding: 2rem;

    }
    footer {
      background-color: #eee;
      padding: 1rem;
      text-align: center;
      margin-top: 2rem;
    }
    a {
  text-decoration: none;
  }
    input, button {
      padding: 0.5rem;
      margin: 0.3rem 0;
      width: 100%;
      box-sizing: border-box;
    }
    form {
      max-width: 400px;
      margin: 2rem auto;
      background: white;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .loginOpt{
      display: flex;
      align-items: center;
      *{
        margin: 1em;
        margin-top : 1.5em;
      }
    }
  </style>
</head>
<body>
  <header>
    <h1><a href="/">travelNow</a></h1>

<div class="loginOpt">
<% if (isAuthenticated && currentUser) { %>
  <span><%= currentUser.username %></span>
  <a href="/api/profile">Profil</a>
  <a href="/api/registrations/me">Mes réservations</a>
  <a href="/api/auth/logout">Se déconnecter</a>
  <% if (isAdmin) { %>
    <a href="/api/trips/form">créer un voyage</a>
    <a href="/api/documents/users">Membres</a>
  <% } %>
<% } else { %>
  <a href="/api/auth/login">Se connecter</a>
  <a href="/api/auth/signup">S'enregistrer</a>
<% } %>

</div>



  </header>
  <main>
