<!DOCTYPE html><html lang="fr"><head>…<link rel="stylesheet" href="/css/main.css"></head><body>
    <%- include('partials/header') %>
    <main><%- body %></main>
    <%- include('partials/footer') %>
  </body></html>