<div  class="px-4 py-6 max-w-7xl mx-auto w-full" >
  <section  class="mb-12 w-full">
    <h1 class="text-3xl font-extrabold mb-6 text-gray-800"><%= titreA %></h1>
    <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <% trips.filter(trip => trip.statut === 'DISPONIBLE').forEach(trip => { %>
        <%- include('../partials/tripCard', { trip, isAdmin }) %>
      <% }) %>
    </div>
  </section>

  <section class="mb-12 w-full">
    <h1 class="text-3xl font-extrabold mb-6 mt-12 text-gray-800"><%= titreB %></h1>
    <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <% trips.filter(trip => trip.statut !== 'DISPONIBLE').forEach(trip => { %>
        <%- include('../partials/tripCard', { trip, isAdmin }) %>
      <% }) %>
    </div>
  </section>
</div>






<script>


  function handleDelete(id) {
    if (confirm("Voulez-vous vraiment supprimer ce voyage ?")) {
      fetch(`/api/trips/${id}`, {
        method: 'DELETE'
      })
      .then(response => {
        if (response.ok) {
          alert("Voyage supprimé avec succès.");
          location.reload(); 
        } else {
          alert("Erreur lors de la suppression.");
        }
      })
      .catch(error => {
        console.error("Erreur :", error);
        alert("Erreur réseau.");
      });
    }
  }
</script>


